body{
    background-color: #CCCCFF;
    font-weight: bold;
    font-size: 14pt;
    font-family: sans-serif;
}

#header{
    font-size: 32pt;
    font-weight: bold;
    text-align: center;

}

#textBox{
    width: 90%;
    height: 400px;
    font-weight: bold;
    font-family: monospace;
    font-weight: 12pt;
}

.input{
    text-align: center;
}

.container{
    text-align: center;
    
}

fieldset{
    display: inline; /*  display: inline-block; */
    border-width: 5px;
    border-color: #000000;
}

.validate{
    display: block;
    float: right;
}

.validate a{
    display: block;
}
